body {background-color: white;}
h1 {background-color: black;}
h1 {text-decoration: underline;}
h1 {color: white;}
h1 {align-self: center;}
h1 {text-align: center;}
p {color: orange;}
p {font-size: xx-larger}
p {background-color: black;}
h3 {font-size: small}
h3 {color: orange;}
h3 {font-size: xx-larger}
h3 {text-decoration: underline;}
h3 {text-align: center;}
h4 {font-size: small}
h4 {color: orange;}
h4 {font-size: xx-larger}
h4 {text-align: center;}
h4 {text-decoration: underline;}
li {background-color: red;}
img {background-size: cover;}
img {max-height: none;}
img {background-position: center;}
