body {background-image: url(https://img.freepik.com/vector-gratis/elementos-comida-dibujados-mano_1411-48.jpg?w=2000);}
body {background-color: white;}
h1 {background-color: black;}
h1 {text-decoration: underline;}
h1 {color: white;}
h1 {align-self: center;}
h1 {text-align: center;}
p {color: orange;}
p {font-size: xx-larger}
p {background-color: black;}
h3 {font-size: small}
h3 {color: orange;}
h3 {font-size: xx-larger}
h3 {text-decoration: underline;}
h3 {text-align: center;}
h3 {background-color: black;}
h4 {font-size: small}
h4 {color: orange;}
h4 {font-size: xx-larger}
h4 {text-align: center;}
h4 {text-decoration: underline;}
h4 {background-color: black}
h5 {background-color: black}
h5 {color: white;}
h5 {text-align: center;}
h5 {text-decoration: underline;}
li {background-color: red;}
img {background-size: cover;}
img {max-height: none;}
img {background-position: center;}
.whatsapp {width: 60px; height: 60px; float: right;}
.instagram {width: 60px; height: 60px; float: right;}
.facebook {width: 60px; height: 60px; float: right;}
.otrasrecetas {background-color: white;}
.lugaresvisitar {background-color: white;}
.recetasfaciles {background-color: white;}
.conocenos {background-color: white;}
