body {background-image: url(https://img.freepik.com/vector-gratis/elementos-comida-dibujados-mano_1411-48.jpg?w=2000);}
body {background-color: white;}
h1 {background-color: black;}
h1 {text-decoration: underline;}
h1 {color: white;}
h1 {align-self: center;}
h1 {text-align: center;}
p {color: white;}
p {font-size: xx-larger}
p {background-color: black;}
h3 {font-size: small}
h3 {color: white;}
h3 {font-size: xx-larger}
h3 {text-decoration: underline;}
h3 {text-align: center;}
h3 {background-color: black;}
h4 {font-size: small}
h4 {color: white;}
h4 {font-size: xx-larger}
h4 {text-align: center;}
h4 {text-decoration: underline;}
h4 {background-color: black}
h5 {background-color: black}
h5 {color: white;}
h5 {text-align: center;}
h5 {text-decoration: underline;}
li {background-color: white;}
img {background-size: cover;}
img {max-height: none;}
img {background-position: center;}
.whatsapp {width: 60px; height: 60px; float: right;}
.instagram {width: 60px; height: 60px; float: right;}
.facebook {width: 60px; height: 60px; float: right;}
.otrasrecetas {background-color: white;}
.lugaresvisitar {background-color: white;}
.recetasfaciles {background-color: white;}
.conocenos {background-color: white;}

header {background-color: violet;
width: 49%;
float: left;
border: 3px solid black;
padding: 10px;
box-sizing: border-box;


}

section {background-color: pink;
  width: 49%;
  float: right;
  border: 3px solid black;
  box-sizing: border-box;

}

nav {background-color: white;
clear: both;
width: 100%;
display: flex;
justify-content: space-around;
}


footer {background-color: blue;
  width: 100%;
  float: left;
  border: 3px solid black;
  padding: 10px;
  box-sizing: border-box;

  display: flex;
  justify-content: space-around;
  align-items: flex-end;

}
.cazuelaimagen:hover {width: 40%;
  border-radius: 50%;
  border: 3px solid white;
  }

.cazuelaimagen {float: left;
max-width: 800px;
max-height: 400px;}

.mapa {float: right;}

.videoyoutube

.conocenos:hover {color: black}
.otrasrecetas:hover {color: orange}
.lugaresvisitar:hover {color: black}
.recetasfaciles:hover {color: orange}

.whatsapp:hover {width: 30%;
  border-radius: 50%;
  border: 3px solid white;}

.instagram:hover {width: 30%;
  border-radius: 50%;
  border: 3px solid white;}

.facebook:hover {width: 30%;
    border-radius: 50%;
    border: 3px solid white;}

.inicio:hover {color: orange;}
.inicio {background: black; color: white;}

@media screen and (max-width: 480px){
    #encabezado{
        height: auto;
    }
    #contenido{
        width: auto;
    }
    #barra_lateral{
        display:none;}
}

@media screen and (max-width: 980px){
    #contenedor{
        width: 90%;
    }
    #contenido{
        width: 60%;
    }
    #barra_lateral{
        width:30%;}
}
